In [1]:
import requests

In [2]:
url_adalab = "https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json"

In [3]:
res = requests.get(url_adalab)

In [4]:
res.status_code

200

In [5]:
res.content

b'{\n    "info": {\n        "count": 20,\n        "pages": 1,\n        "currentPage": 1,\n        "next": null,\n        "prev": null\n    },\n    "results": [\n        {\n            "num_expediente": 1001,\n            "nombre": "Ana",\n            "apellidos": "Mart\xc3\xadnez",\n            "fecha_nacimiento": "2005-03-15"\n        },\n        {\n            "num_expediente": 1002,\n            "nombre": "Luis",\n            "apellidos": "Fern\xc3\xa1ndez",\n            "fecha_nacimiento": "2004-11-22"\n        },\n        {\n            "num_expediente": 1003,\n            "nombre": "Clara",\n            "apellidos": "Ruiz",\n            "fecha_nacimiento": "2006-01-10"\n        },\n        {\n            "num_expediente": 1004,\n            "nombre": "Pedro",\n            "apellidos": "S\xc3\xa1nchez",\n            "fecha_nacimiento": "2005-07-08"\n        },\n        {\n            "num_expediente": 1005,\n            "nombre": "Luc\xc3\xada",\n            "apellidos": "Torres",\n            "fecha_nacimiento": "2004-09-18"\n        },\n        {\n            "num_expediente": 1006,\n            "nombre": "Javier",\n            "apellidos": "Gonz\xc3\xa1lez",\n            "fecha_nacimiento": "2006-06-24"\n        },\n        {\n            "num_expediente": 1007,\n            "nombre": "Mar\xc3\xada",\n            "apellidos": "L\xc3\xb3pez",\n            "fecha_nacimiento": "2005-04-10"\n        },\n        {\n            "num_expediente": 1008,\n            "nombre": "David",\n            "apellidos": "P\xc3\xa9rez",\n            "fecha_nacimiento": "2004-12-12"\n        },\n        {\n            "num_expediente": 1009,\n            "nombre": "Sara",\n            "apellidos": "Garc\xc3\xada",\n            "fecha_nacimiento": "2005-08-15"\n        },\n        {\n            "num_expediente": 1010,\n            "nombre": "Ricardo",\n            "apellidos": "Mart\xc3\xadn",\n            "fecha_nacimiento": "2006-03-22"\n        },\n        {\n            "num_expediente": 1011,\n            "nombre": "Alba",\n            "apellidos": "V\xc3\xa1zquez",\n            "fecha_nacimiento": "2004-05-05"\n        },\n        {\n            "num_expediente": 1012,\n            "nombre": "Carlos",\n            "apellidos": "Serrano",\n            "fecha_nacimiento": "2005-02-28"\n        },\n        {\n            "num_expediente": 1013,\n            "nombre": "Elena",\n            "apellidos": "Ram\xc3\xadrez",\n            "fecha_nacimiento": "2006-08-01"\n        },\n        {\n            "num_expediente": 1014,\n            "nombre": "Iv\xc3\xa1n",\n            "apellidos": "Hern\xc3\xa1ndez",\n            "fecha_nacimiento": "2005-10-30"\n        },\n        {\n            "num_expediente": 1015,\n            "nombre": "Laura",\n            "apellidos": "Jim\xc3\xa9nez",\n            "fecha_nacimiento": "2004-07-14"\n        },\n        {\n            "num_expediente": 1016,\n            "nombre": "Tom\xc3\xa1s",\n            "apellidos": "L\xc3\xb3pez",\n            "fecha_nacimiento": "2005-12-18"\n        },\n        {\n            "num_expediente": 1017,\n            "nombre": "Paula",\n            "apellidos": "Fern\xc3\xa1ndez",\n            "fecha_nacimiento": "2006-02-06"\n        },\n        {\n            "num_expediente": 1018,\n            "nombre": "Mario",\n            "apellidos": "D\xc3\xadaz",\n            "fecha_nacimiento": "2004-11-30"\n        },\n        {\n            "num_expediente": 1019,\n            "nombre": "Raquel",\n            "apellidos": "Gonz\xc3\xa1lez",\n            "fecha_nacimiento": "2005-09-23"\n        },\n        {\n            "num_expediente": 1020,\n            "nombre": "Jorge",\n            "apellidos": "\xc3\x81lvarez",\n            "fecha_nacimiento": "2006-05-17"\n        }\n    ]\n}'

- Extrae de los resultados:
    - Número de expediente
    - Nombre
    - Apellido

In [6]:
res.json()

{'info': {'count': 20,
  'pages': 1,
  'currentPage': 1,
  'next': None,
  'prev': None},
 'results': [{'num_expediente': 1001,
   'nombre': 'Ana',
   'apellidos': 'Martínez',
   'fecha_nacimiento': '2005-03-15'},
  {'num_expediente': 1002,
   'nombre': 'Luis',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2004-11-22'},
  {'num_expediente': 1003,
   'nombre': 'Clara',
   'apellidos': 'Ruiz',
   'fecha_nacimiento': '2006-01-10'},
  {'num_expediente': 1004,
   'nombre': 'Pedro',
   'apellidos': 'Sánchez',
   'fecha_nacimiento': '2005-07-08'},
  {'num_expediente': 1005,
   'nombre': 'Lucía',
   'apellidos': 'Torres',
   'fecha_nacimiento': '2004-09-18'},
  {'num_expediente': 1006,
   'nombre': 'Javier',
   'apellidos': 'González',
   'fecha_nacimiento': '2006-06-24'},
  {'num_expediente': 1007,
   'nombre': 'María',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-04-10'},
  {'num_expediente': 1008,
   'nombre': 'David',
   'apellidos': 'Pérez',
   'fecha_nacimiento': '2004-12-12'},
  {'num_expediente': 1009,
   'nombre': 'Sara',
   'apellidos': 'García',
   'fecha_nacimiento': '2005-08-15'},
  {'num_expediente': 1010,
   'nombre': 'Ricardo',
   'apellidos': 'Martín',
   'fecha_nacimiento': '2006-03-22'},
  {'num_expediente': 1011,
   'nombre': 'Alba',
   'apellidos': 'Vázquez',
   'fecha_nacimiento': '2004-05-05'},
  {'num_expediente': 1012,
   'nombre': 'Carlos',
   'apellidos': 'Serrano',
   'fecha_nacimiento': '2005-02-28'},
  {'num_expediente': 1013,
   'nombre': 'Elena',
   'apellidos': 'Ramírez',
   'fecha_nacimiento': '2006-08-01'},
  {'num_expediente': 1014,
   'nombre': 'Iván',
   'apellidos': 'Hernández',
   'fecha_nacimiento': '2005-10-30'},
  {'num_expediente': 1015,
   'nombre': 'Laura',
   'apellidos': 'Jiménez',
   'fecha_nacimiento': '2004-07-14'},
  {'num_expediente': 1016,
   'nombre': 'Tomás',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-12-18'},
  {'num_expediente': 1017,
   'nombre': 'Paula',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2006-02-06'},
  {'num_expediente': 1018,
   'nombre': 'Mario',
   'apellidos': 'Díaz',
   'fecha_nacimiento': '2004-11-30'},
  {'num_expediente': 1019,
   'nombre': 'Raquel',
   'apellidos': 'González',
   'fecha_nacimiento': '2005-09-23'},
  {'num_expediente': 1020,
   'nombre': 'Jorge',
   'apellidos': 'Álvarez',
   'fecha_nacimiento': '2006-05-17'}]}

In [12]:
datos_adalab = res.json()

In [13]:
datos_adalab.keys()

dict_keys(['info', 'results'])

In [14]:
datos_adalab["info"]

{'count': 20, 'pages': 1, 'currentPage': 1, 'next': None, 'prev': None}

In [15]:
datos_adalab["results"]

[{'num_expediente': 1001,
  'nombre': 'Ana',
  'apellidos': 'Martínez',
  'fecha_nacimiento': '2005-03-15'},
 {'num_expediente': 1002,
  'nombre': 'Luis',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2004-11-22'},
 {'num_expediente': 1003,
  'nombre': 'Clara',
  'apellidos': 'Ruiz',
  'fecha_nacimiento': '2006-01-10'},
 {'num_expediente': 1004,
  'nombre': 'Pedro',
  'apellidos': 'Sánchez',
  'fecha_nacimiento': '2005-07-08'},
 {'num_expediente': 1005,
  'nombre': 'Lucía',
  'apellidos': 'Torres',
  'fecha_nacimiento': '2004-09-18'},
 {'num_expediente': 1006,
  'nombre': 'Javier',
  'apellidos': 'González',
  'fecha_nacimiento': '2006-06-24'},
 {'num_expediente': 1007,
  'nombre': 'María',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-04-10'},
 {'num_expediente': 1008,
  'nombre': 'David',
  'apellidos': 'Pérez',
  'fecha_nacimiento': '2004-12-12'},
 {'num_expediente': 1009,
  'nombre': 'Sara',
  'apellidos': 'García',
  'fecha_nacimiento': '2005-08-15'},
 {'num_expediente': 1010,
  'nombre': 'Ricardo',
  'apellidos': 'Martín',
  'fecha_nacimiento': '2006-03-22'},
 {'num_expediente': 1011,
  'nombre': 'Alba',
  'apellidos': 'Vázquez',
  'fecha_nacimiento': '2004-05-05'},
 {'num_expediente': 1012,
  'nombre': 'Carlos',
  'apellidos': 'Serrano',
  'fecha_nacimiento': '2005-02-28'},
 {'num_expediente': 1013,
  'nombre': 'Elena',
  'apellidos': 'Ramírez',
  'fecha_nacimiento': '2006-08-01'},
 {'num_expediente': 1014,
  'nombre': 'Iván',
  'apellidos': 'Hernández',
  'fecha_nacimiento': '2005-10-30'},
 {'num_expediente': 1015,
  'nombre': 'Laura',
  'apellidos': 'Jiménez',
  'fecha_nacimiento': '2004-07-14'},
 {'num_expediente': 1016,
  'nombre': 'Tomás',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-12-18'},
 {'num_expediente': 1017,
  'nombre': 'Paula',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2006-02-06'},
 {'num_expediente': 1018,
  'nombre': 'Mario',
  'apellidos': 'Díaz',
  'fecha_nacimiento': '2004-11-30'},
 {'num_expediente': 1019,
  'nombre': 'Raquel',
  'apellidos': 'González',
  'fecha_nacimiento': '2005-09-23'},
 {'num_expediente': 1020,
  'nombre': 'Jorge',
  'apellidos': 'Álvarez',
  'fecha_nacimiento': '2006-05-17'}]

In [16]:
for nombre in datos_adalab["results"]:
    print(nombre)
    break

{'num_expediente': 1001, 'nombre': 'Ana', 'apellidos': 'Martínez', 'fecha_nacimiento': '2005-03-15'}

In [19]:
for nombre in datos_adalab["results"]:
    print(nombre)

{'num_expediente': 1001, 'nombre': 'Ana', 'apellidos': 'Martínez', 'fecha_nacimiento': '2005-03-15'}
{'num_expediente': 1002, 'nombre': 'Luis', 'apellidos': 'Fernández', 'fecha_nacimiento': '2004-11-22'}
{'num_expediente': 1003, 'nombre': 'Clara', 'apellidos': 'Ruiz', 'fecha_nacimiento': '2006-01-10'}
{'num_expediente': 1004, 'nombre': 'Pedro', 'apellidos': 'Sánchez', 'fecha_nacimiento': '2005-07-08'}
{'num_expediente': 1005, 'nombre': 'Lucía', 'apellidos': 'Torres', 'fecha_nacimiento': '2004-09-18'}
{'num_expediente': 1006, 'nombre': 'Javier', 'apellidos': 'González', 'fecha_nacimiento': '2006-06-24'}
{'num_expediente': 1007, 'nombre': 'María', 'apellidos': 'López', 'fecha_nacimiento': '2005-04-10'}
{'num_expediente': 1008, 'nombre': 'David', 'apellidos': 'Pérez', 'fecha_nacimiento': '2004-12-12'}
{'num_expediente': 1009, 'nombre': 'Sara', 'apellidos': 'García', 'fecha_nacimiento': '2005-08-15'}
{'num_expediente': 1010, 'nombre': 'Ricardo', 'apellidos': 'Martín', 'fecha_nacimiento': '2006-03-22'}
{'num_expediente': 1011, 'nombre': 'Alba', 'apellidos': 'Vázquez', 'fecha_nacimiento': '2004-05-05'}
{'num_expediente': 1012, 'nombre': 'Carlos', 'apellidos': 'Serrano', 'fecha_nacimiento': '2005-02-28'}
{'num_expediente': 1013, 'nombre': 'Elena', 'apellidos': 'Ramírez', 'fecha_nacimiento': '2006-08-01'}
{'num_expediente': 1014, 'nombre': 'Iván', 'apellidos': 'Hernández', 'fecha_nacimiento': '2005-10-30'}
{'num_expediente': 1015, 'nombre': 'Laura', 'apellidos': 'Jiménez', 'fecha_nacimiento': '2004-07-14'}
{'num_expediente': 1016, 'nombre': 'Tomás', 'apellidos': 'López', 'fecha_nacimiento': '2005-12-18'}
{'num_expediente': 1017, 'nombre': 'Paula', 'apellidos': 'Fernández', 'fecha_nacimiento': '2006-02-06'}
{'num_expediente': 1018, 'nombre': 'Mario', 'apellidos': 'Díaz', 'fecha_nacimiento': '2004-11-30'}
{'num_expediente': 1019, 'nombre': 'Raquel', 'apellidos': 'González', 'fecha_nacimiento': '2005-09-23'}
{'num_expediente': 1020, 'nombre': 'Jorge', 'apellidos': 'Álvarez', 'fecha_nacimiento': '2006-05-17'}

In [20]:
datos_alumnos = datos_adalab["results"]

In [21]:
datos_alumnos

[{'num_expediente': 1001,
  'nombre': 'Ana',
  'apellidos': 'Martínez',
  'fecha_nacimiento': '2005-03-15'},
 {'num_expediente': 1002,
  'nombre': 'Luis',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2004-11-22'},
 {'num_expediente': 1003,
  'nombre': 'Clara',
  'apellidos': 'Ruiz',
  'fecha_nacimiento': '2006-01-10'},
 {'num_expediente': 1004,
  'nombre': 'Pedro',
  'apellidos': 'Sánchez',
  'fecha_nacimiento': '2005-07-08'},
 {'num_expediente': 1005,
  'nombre': 'Lucía',
  'apellidos': 'Torres',
  'fecha_nacimiento': '2004-09-18'},
 {'num_expediente': 1006,
  'nombre': 'Javier',
  'apellidos': 'González',
  'fecha_nacimiento': '2006-06-24'},
 {'num_expediente': 1007,
  'nombre': 'María',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-04-10'},
 {'num_expediente': 1008,
  'nombre': 'David',
  'apellidos': 'Pérez',
  'fecha_nacimiento': '2004-12-12'},
 {'num_expediente': 1009,
  'nombre': 'Sara',
  'apellidos': 'García',
  'fecha_nacimiento': '2005-08-15'},
 {'num_expediente': 1010,
  'nombre': 'Ricardo',
  'apellidos': 'Martín',
  'fecha_nacimiento': '2006-03-22'},
 {'num_expediente': 1011,
  'nombre': 'Alba',
  'apellidos': 'Vázquez',
  'fecha_nacimiento': '2004-05-05'},
 {'num_expediente': 1012,
  'nombre': 'Carlos',
  'apellidos': 'Serrano',
  'fecha_nacimiento': '2005-02-28'},
 {'num_expediente': 1013,
  'nombre': 'Elena',
  'apellidos': 'Ramírez',
  'fecha_nacimiento': '2006-08-01'},
 {'num_expediente': 1014,
  'nombre': 'Iván',
  'apellidos': 'Hernández',
  'fecha_nacimiento': '2005-10-30'},
 {'num_expediente': 1015,
  'nombre': 'Laura',
  'apellidos': 'Jiménez',
  'fecha_nacimiento': '2004-07-14'},
 {'num_expediente': 1016,
  'nombre': 'Tomás',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-12-18'},
 {'num_expediente': 1017,
  'nombre': 'Paula',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2006-02-06'},
 {'num_expediente': 1018,
  'nombre': 'Mario',
  'apellidos': 'Díaz',
  'fecha_nacimiento': '2004-11-30'},
 {'num_expediente': 1019,
  'nombre': 'Raquel',
  'apellidos': 'González',
  'fecha_nacimiento': '2005-09-23'},
 {'num_expediente': 1020,
  'nombre': 'Jorge',
  'apellidos': 'Álvarez',
  'fecha_nacimiento': '2006-05-17'}]

In [61]:
lista_expedientes = []
for expediente in datos_alumnos:
    print(type(expediente))
    break

<class 'dict'>

In [58]:
lista_expedientes = []
for expediente in datos_alumnos:
    print(expediente["num_expediente"])
    lista_expedientes.append(expediente["num_expediente"])

1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020

In [59]:
lista_expedientes

[1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020]

In [ ]:
lista_nombres = []
for nombres in datos_alumnos:
    print(nombres["nombre"])
    lista_nombres.append(nombres["nombre"])

Ana
Luis
Clara
Pedro
Lucía
Javier
María
David
Sara
Ricardo
Alba
Carlos
Elena
Iván
Laura
Tomás
Paula
Mario
Raquel
Jorge

In [66]:
lista_nombres

['Ana',
 'Luis',
 'Clara',
 'Pedro',
 'Lucía',
 'Javier',
 'María',
 'David',
 'Sara',
 'Ricardo',
 'Alba',
 'Carlos',
 'Elena',
 'Iván',
 'Laura',
 'Tomás',
 'Paula',
 'Mario',
 'Raquel',
 'Jorge']

In [69]:
lista_apellidos = []
for apellidos in datos_alumnos:
    print(apellidos["apellidos"])
    lista_apellidos.append(apellidos["apellidos"])

Martínez
Fernández
Ruiz
Sánchez
Torres
González
López
Pérez
García
Martín
Vázquez
Serrano
Ramírez
Hernández
Jiménez
López
Fernández
Díaz
González
Álvarez